@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lobster&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family : 'Inter';
}

#about .title-about::before {
    content : "";
    position : absolute;
    bottom : 0px;
    left : 50%;
    width : 220px;
    height : 3px;
    background: #444444;
    z-index : 5;
    transform : translateX(-50%);
}
#about .title-about::after {
    content : "siapa saya";
    position : absolute;
    z-index: -1;
    font-weight: 500;
    bottom : -14px;
    padding: 0 5px;
    left : 50%;
    width : 120px;
    font-size: 20px;
    background: #fff;
    z-index : 5;
    transform : translateX(-50%);
}


#akun .title-akun::before {
    content : "";
    position : absolute;
    bottom : 0px;
    left : 50%;
    width : 320px;
    height : 3px;
    background: #444444;
    z-index : 5;
    transform : translateX(-50%);
}
#akun .title-akun::after {
    content : "hubungi saya";
    position : absolute;
    border : 1px;
    z-index: -1;
    font-weight: 500;
    bottom : -14px;
    padding: 0 5px;
    left : 50%;
    width : 150px;
    font-size: 20px;
    background: #FEF5ED;
    z-index : 5;
    transform : translateX(-50%);
}
#project #title-port::before {
    content : "";
    position : absolute;
    top : -15px;
    right : -15px;
    width : 80px;
    height : 80px;
    background: #D8AC9C;
    z-index : -5;
    
}
#project #title-port::after {
    content : "";
    position : absolute;
    bottom : -15px;
    left : -15px;
    width : 80px;
    height : 80px;
    background: #88304E;
    z-index : -5;
}
#kontak .title-kontak::before {
    content : "";
    position : absolute;
    bottom : 0px;
    left : 50%;
    width : 160px;
    height : 3px;
    background: #D8AC9C;
    z-index : 5;
    transform : translateX(-50%);
}
#kontak .title-kontak::after {
    content : "kirim pesan";
    position : absolute;
    border : 1px;
    z-index: -1;
    font-weight: 500;
    bottom : -14px;
    padding: 0 10px;
    left : 50%;
    color : #D8AC9C;
    width : fit-content;
    font-size: 20px;
    background: #88304E;
    z-index : 5;
    transform : translateX(-50%);
}
.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-primary;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

.navbar-fixed{
    @apply fixed z-[999] bg-prime bg-opacity-75;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(82, 37, 70, 0.2);
}
#navbar ul li a::after {
    content : "";
    width : 100%;
    transform : scale(0,0);
    height : 2px;
    background-color : #88304E;
    z-index : 10000;
    position : absolute;
    bottom : 0;
    @apply justify-self-center;
    transition-property : all;
    transition-duration : 300ms;
}
#navbar ul li a:hover::after {
    transform : scale(1,1);
    /* display : none; */
}
@media screen and ()